[Unit]
Description=Rockchip HDMI capture RTSP server
Wants=network-online.target
After=network-online.target
Conflicts=mediamtx.service

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=video audio render
EnvironmentFile=-/etc/default/rk-hdmi-streamer
Environment=DEVICE=/dev/video0
Environment=AUDIO_DEVICE=hw:CARD=MS2109,DEV=0
Environment=AUDIO_CODEC=opus
Environment=AUDIO_GAIN=3.0
Environment=WIDTH=1920
Environment=HEIGHT=1080
Environment=FPS=30
Environment=BITRATE=12000000
Environment=GOP=30
Environment=RTP_PAYLOAD=12000
Environment=LISTEN_RTSP=:8554
Environment=RTSP_PATH=/capture
Environment=MAX_CLIENTS=3
ExecStart=/usr/local/bin/rk-hdmi-streamer --decoder mppjpeg --v4l2-dmabuf --device ${DEVICE} --audio-device ${AUDIO_DEVICE} --audio-codec ${AUDIO_CODEC} --audio-gain ${AUDIO_GAIN} --width ${WIDTH} --height ${HEIGHT} --fps ${FPS} --bitrate ${BITRATE} --gop ${GOP} --rtp-payload ${RTP_PAYLOAD} --listen-rtsp ${LISTEN_RTSP} --rtsp-path ${RTSP_PATH} --max-clients ${MAX_CLIENTS}
Restart=always
RestartSec=2
Nice=-5

[Install]
WantedBy=multi-user.target
